














/************Alert************/
.alert {
    position: fixed;
    right: 10px;
    top: 74px;
    align-items: center;
    gap: 10px;
    display: flex;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 14px;
    z-index: 99999;
}

.alert .close {
    display: flex;
    font-size: 12px;
    padding: 3px 5px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.alert .icon {
    display: flex;
}

.alert.orange {
    background-color: rgb(255, 219, 189);
    color: rgb(255, 137, 73);
    border-left: 5px solid rgb(255, 137, 73);
}

.alert.green {
    background-color: #D9FBD9;
    border-left: 5px solid rgb(0, 225, 0);
    color: rgb(0, 225, 0);
}

.alert.red {
    background-color: #ffe3e3;
    border-left: 5px solid rgb(225, 0, 0);
    color: rgb(225, 0, 0);
}

.alert.red .close {
    background-color: #ffc1c1;
}

.alert.orange .close {
    background-color: rgb(255, 219, 189);
}

.alert.green .close {
    background-color: rgba(0, 225, 0, 0.134);
}





.alert.show {
    animation: show_slide 1s ease forwards;
}

@keyframes show_slide {
    0% {
        transform: translateX(100%);
    }

    40% {
        transform: translateX(-10%);
    }

    80% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(0px);
    }
}

.alert.hide {
    animation: hide_slide 1s ease forwards;
}

@keyframes hide_slide {
    0% {
        transform: translateX(0px);
    }

    40% {
        transform: translateX(0%);
    }

    80% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(110%);
    }
}